process {
    withName:readChrVCF {
        container = "quay.io/biocontainers/bcftools:1.13--h3a49de5_0"
    }
    withName:splitVCF {
        container = "quay.io/biocontainers/bcftools:1.13--h3a49de5_0"
    }
    withName:mergeVCF {
        container = "quay.io/biocontainers/bcftools:1.13--h3a49de5_0"
    }
    withName:runVEP {
        container = "ensemblorg/ensembl-vep:latest"
        containerOptions = "--user root"
    }
}

docker {
    enabled = true
}